.sidebar {
  border-right: 5px solid rgb(6, 45, 78);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  overflow: hidden;
  transition: width 0.5s ease;
  width: 5%;
  &.show {
    width: 15%;
  }
  &-ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 100px 0;
    &-li {
      display: flex;
      align-items: center;
      padding: 5px 25px;
      margin: 5px 0;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
      transition: all 0.5s ease;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: rgb(6, 45, 78);

        svg {
          g {
            rect {
              fill: white;
            }
          }
        }
        p {
          color: white;
        }
      }
      &:first-child {
        justify-content: center;
        padding: 10px 25px;
        p {
          &:first-child {
            padding: 0;
          }
        }
      }
      svg {
        width: 50px;
        height: 50px;
        overflow: initial;
        g {
          rect {
            fill: rgb(49, 37, 37);
          }
        }
      }
      p {
        margin: 0;
        padding-left: 25px;
        white-space: nowrap;
        overflow: hidden;
        color: rgb(49, 37, 37);
      }
    }
  }
}
