@font-face {
  font-family: "Neucha";
  src: url("./fonts/Neucha-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
body,
#root {
  margin: 0;
  height: 100vh;
}
:root {
  font-family: "Neucha", sans-serif;
}
p {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-size: 60px;
  font-weight: 400;
  line-height: 66px;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.paragraph-mini {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.tabs {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}
.button {
  background-color: rgba(49, 37, 37, 1);
  color: white;
  padding: 10px 20px;
  min-width: 100px;
  border-radius: 8px;
  border-style: unset;
}
